* {
  box-sizing: border-box;
}

.app-layout,
.app-layout .mdl-layout__header,
.app-layout .mdl-layout__drawer-button {
  color: white;
  background-color: #282c34;
}

main {
  text-align: center;
}

.page-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.page-content {
  max-width: 768px;
}
